html
  head
    | <style type="text/css">
    include ../public/stylesheets/style.css
    | </style>
    | <style type="text/css">
    include ../public/bootstrap/css/bootstrap.min.css
    | </style>
    | <style type="text/css">
    include ../public/bootstrap/css/bootstrap-responsive.min.css
    | </style>

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')

  body
    h2(align='center')

      u Timeline Stats
      br
      br

      table#heading(align='center').table-striped
        tr
          td(rowspan='2', border='1')
            img(src = '#{data.photos[0].value}')
          td
            | Name: #{data.displayName} (#{data.id})&nbsp;
        tr
          td
            | Screen Name: #{data.username}

      br

      table#content(align='center').table-striped.table-bordered
        tbody
          each tweet in tweets
            tr
              td
                a(href='#{tweet.user.url}') #{tweet.user.name}
              td= tweet.text
              td= tweet.created_at
