extends layouts/default

block main
  h1= title

block content
  h2(align='center')
    u Timeline Stats
    table#heading(align= 'center').table-striped
      tr
        td(rowspan='2', border='1')
          img(src = '#{user.photos[0].value}')
        td
          | Name: #{user.displayName}
      tr
        td
          | Screen Name: #{user.username}

  h4(align='center')
    br
    a(href='#{user._json.url}') Click to visit Website
    br
    | First Tweet At : #{user._json.created_at}
    br
    | Total Tweets: #{user._json.statuses_count}
    br
    |  Last Tweet At: #{user._json.status.created_at}
    br
    | Followers Count: #{user._json.followers_count}
    br
    | Friends Count: #{user._json.friends_count}
    br
    | Per Week Avg Tweet: #{avg}

  #placeholder(style='width: 600px; height: 300px;')
