html
  head
    | <style type="text/css">
    include ../public/stylesheets/style.css
    | </style>
  body
    h2 Tweets
      table#userdata(align='center')
        tr
          td
            a(href='/logout') Logout Here
        tbody 
          each tweet in data
            tr
              td
                a(href='#{tweet.user.url}') #{tweet.user.name}
              td= tweet.text
              td= tweet.created_at
              td= tweet.user.location
              
      